# Ignore build outputs
build/
Debug/
Release/
cppcheck_cache/
cppcheck_report.xml
cppcheck_report_COMPLETE.xml
cppcheck_html_report/
cppcheck_html_report_COMPLETE/
suppressions_log.txt
*.o
*.d
*.lst
*.map
*.bin
*.hex
*.elf

# Ignore IDE files
.vscode/
.settings/
.cproject
.project

# Ignore CubeMX garbage
.mxproject
mx.scratch
*.orig

# Ignore OS junk
.DS_Store
Thumbs.db
to_do.txt
